##############
# Files
FirebaseCppApp-6_15_2.so
FirebaseCppApp-6_15_2.so.meta
.idea
.vs

##############
# Extensions
*.csproj
.vsconfig
*.zip
*.sln
*.suo
.DS_Store

##############
# Folders
Library/
Logs/
obj/
Temp/
UserSettings/